# Prepare Telco Data

# Imports

In [1]:
import wrangle as w
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

# Acquire Telco Data

In [2]:
# Acuire data from codeup database
df = w.get_telco()
df.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

In [3]:
# Take a look at the shape of the dataframe
df.shape

(7043, 24)

In [4]:
# Take a look at the info of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type_id           7043 non-null   int64
 1   internet_service_type_id  7043 non-null   int64
 2   contract_type_id          7043 non-null   int64
 3   customer_id               7043 non-null   object
 4   gender                    7043 non-null   object
 5   senior_citizen            7043 non-null   int64
 6   partner                   7043 non-null   object
 7   dependents                7043 non-null   object
 8   tenure                    7043 non-null   int64
 9   phone_service             7043 non-null   object
 10  multiple_lines            7043 non-null   object
 11  online_security           7043 non-null   object
 12  online_backup             7043 non-null   object
 13  device_protection         7043 non-null   object
 14  tech_support              7043 non-null   object
 15  streaming_tv              7043 non-null   object
 16  streaming_movies          7043 non-null   object
 17  paperless_billing         7043 non-null   object
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
 21  contract_type             7043 non-null   object
 22  internet_service_type     7043 non-null   object
 23  payment_type              7043 non-null   object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB

In [5]:
# Take a look at the amount of nulls in each column
df.isnull().sum()
# No nulls in the dataframe

payment_type_id             0
internet_service_type_id    0
contract_type_id            0
customer_id                 0
gender                      0
senior_citizen              0
partner                     0
dependents                  0
tenure                      0
phone_service               0
multiple_lines              0
online_security             0
online_backup               0
device_protection           0
tech_support                0
streaming_tv                0
streaming_movies            0
paperless_billing           0
monthly_charges             0
total_charges               0
churn                       0
contract_type               0
internet_service_type       0
payment_type                0
dtype: int64

In [6]:
# Take a look at the value counts of each column
for col in df.columns:
    print(col)
    print(df[col].value_counts())
    print('----------------------')

payment_type_id
1    2365
2    1612
3    1544
4    1522
Name: payment_type_id, dtype: int64
----------------------
internet_service_type_id
2    3096
1    2421
3    1526
Name: internet_service_type_id, dtype: int64
----------------------
contract_type_id
1    3875
3    1695
2    1473
Name: contract_type_id, dtype: int64
----------------------
customer_id
0002-ORFBO    1
6616-AALSR    1
6625-UTXEW    1
6625-IUTTT    1
6625-FLENO    1
             ..
3352-RICWQ    1
3352-ALMCK    1
3351-NQLDI    1
3351-NGXYI    1
9995-HOTOH    1
Name: customer_id, Length: 7043, dtype: int64
----------------------
gender
Male      3555
Female    3488
Name: gender, dtype: int64
----------------------
senior_citizen
0    5901
1    1142
Name: senior_citizen, dtype: int64
----------------------
partner
No     3641
Yes    3402
Name: partner, dtype: int64
----------------------
dependents
No     4933
Yes    2110
Name: dependents, dtype: int64
----------------------
tenure
1     613
72    362
2     238
3     200
4     176
     ...
28     57
39     56
44     51
36     50
0      11
Name: tenure, Length: 73, dtype: int64
----------------------
phone_service
Yes    6361
No      682
Name: phone_service, dtype: int64
----------------------
multiple_lines
No                  3390
Yes                 2971
No phone service     682
Name: multiple_lines, dtype: int64
----------------------
online_security
No                     3498
Yes                    2019
No internet service    1526
Name: online_security, dtype: int64
----------------------
online_backup
No                     3088
Yes                    2429
No internet service    1526
Name: online_backup, dtype: int64
----------------------
device_protection
No                     3095
Yes                    2422
No internet service    1526
Name: device_protection, dtype: int64
----------------------
tech_support
No                     3473
Yes                    2044
No internet service    1526
Name: tech_support, dtype: int64
----------------------
streaming_tv
No                     2810
Yes                    2707
No internet service    1526
Name: streaming_tv, dtype: int64
----------------------
streaming_movies
No                     2785
Yes                    2732
No internet service    1526
Name: streaming_movies, dtype: int64
----------------------
paperless_billing
Yes    4171
No     2872
Name: paperless_billing, dtype: int64
----------------------
monthly_charges
20.05     61
19.85     45
19.95     44
19.90     44
20.00     43
          ..
116.55     1
106.85     1
68.55      1
108.80     1
67.85      1
Name: monthly_charges, Length: 1585, dtype: int64
----------------------
total_charges
           11
20.2       11
19.75       9
19.9        8
20.05       8
           ..
2387.75     1
6302.8      1
2058.5      1
829.55      1
3707.6      1
Name: total_charges, Length: 6531, dtype: int64
----------------------
churn
No     5174
Yes    1869
Name: churn, dtype: int64
----------------------
contract_type
Month-to-month    3875
Two year          1695
One year          1473
Name: contract_type, dtype: int64
----------------------
internet_service_type
Fiber optic    3096
DSL            2421
None           1526
Name: internet_service_type, dtype: int64
----------------------
payment_type
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: payment_type, dtype: int64
----------------------

In [7]:
#clean with wrangle_telco function
df = w.wrangle_telco_encoded(df)
df

,senior_citizen,partner,dependents,tenure,phone_service,paperless_billing,monthly_charges,total_charges,churn,gender_Male,...,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0,1,1,9,1,1,65.60,593.30,0,0,...,1,0,0,1,0,0,0,0,0,1
1,0,0,0,9,1,0,59.90,542.40,0,1,...,0,0,1,0,0,0,0,0,0,1
2,0,0,0,4,1,1,73.90,280.85,1,1,...,0,0,0,0,0,1,0,0,1,0
3,1,1,0,13,1,1,98.00,1237.85,1,1,...,1,0,1,0,0,1,0,0,1,0
4,1,1,0,3,1,1,83.90,267.40,1,0,...,1,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,0,0,13,1,0,55.15,742.90,0,0,...,0,0,0,1,0,0,0,0,0,1
7039,0,1,0,22,1,1,85.10,1873.70,1,1,...,0,0,1,0,0,1,0,0,1,0
7040,0,0,0,2,1,1,50.30,92.75,0,1,...,0,0,0,0,0,0,0,0,0,1
7041,0,1,1,67,1,0,67.85,4627.65,0,1,...,0,0,1,0,1,0,0,0,0,1
7042,0,1,1,63,0,0,59.00,3707.60,0,1,...,1,0,1,0,1,0,0,0,1,0

In [8]:
# split the data
train, validate, test = w.train_validate_test(df, 'churn')